

#separadorLogos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 1%;

  justify-content: center;
  align-items: center;
  justify-items: center;
}

#separadorLogos img {
  width: 100%;
}

#footerCentral {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#footerAbajo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  column-gap: 5%;

  justify-items: center;
  align-items: center;
  justify-content: center;
}

#linksFooter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  column-gap: 5%;

  justify-items: center;
  align-items: center;
  justify-content: center;

  list-style: none;

}

#linksFooter li a {
  text-decoration: none;
}

#redes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 5%;

  justify-items: center;
  align-items: center;
}
