
* {
  font-family: 'Inter', sans-serif;

}
footer {
  background: linear-gradient(to top, #92E2C9,#f9f9f9);
}
#separadorLogos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 1%;

  margin: 1%;

  justify-content: center;
  align-items: center;
  justify-items: center;
}

#separadorLogos img {
  width: 100%;
}

#footerCentral {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#footerCentral img {
  width: 30%;
}
#footerCentral p {
  color: #f9f9f9;
  -webkit-text-stroke: 0.2px black;
  text-shadow: 2px 2px black;
  text-align: center;
  font-size: 2em;
  font-weight: bold;

}
#footerCentral button {

  color: #f9f9f9;
  background-color: #2B59FF;
  font-size: 100%;

  box-shadow: 4px 4px black;
  border: none;
  border-radius: 10px;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 2%;
  padding-top: 2%;


}

#footerAbajo {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;

  column-gap: 5%;

  justify-items: center;
  align-items: center;
  justify-content: center;

  padding: 5%;
}

#linksFooter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  width: 80%;

  column-gap: 1%;

  justify-items: center;
  align-items: center;
  justify-content: center;

  list-style: none;
  padding: 0;

}

#linksFooter li a {
  text-decoration: none;
  color: black;
}

#redes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20%;

  justify-items: center;
  align-items: center;

  margin-right: 10%;
}

redes img{

  width: 100%;
}
