<app-header></app-header>
<div class="main">
  <div class="all">
    <h1 class="title">FINALIZAR PEDIDO</h1>
    <div class="container">

      <div class="box">
        <div class="titles">
          <img class="icon-box" src="/ASSETS/IMAGES/LogoPedido.png" alt="logo">
          <strong>Pedido</strong>
        </div>

        <div class="list">
          @for (funko of (productosPedido$ | async); track funko.id) {
            <div class="product">
              <img class="img-product" [src]="obtenerImagenUrl(funko)" alt="{{ funko.nombre }}">

              <div class="datos">
                <div class="name">{{ funko.nombre }}</div>
                <div class="price">
                   {{ (funko.precio! * (funko.cantidad || 1)) | currency:'EUR':'symbol':'1.2-2' }}
                </div>

                <div class="cont">
                  <button class="menos" (click)="decrementarCantidad(funko)">-</button>
                  <span class="num">{{ funko.cantidad }}</span>
                  <button class="mas" (click)="incrementarCantidad(funko)">+</button>
                </div>
              </div>
              <button class="delete" (click)="eliminarDelPedido(funko)">ELIMINAR</button>
            </div>
          }

          @if (!(productosPedido$ | async)?.length) {
            <p style="text-align: center; margin: 20px;">No hay productos en el pedido.</p>
          }

      </div>
    </div>

      <div class="row">
        <div class="box mediana">
          <div class="titles">
            <img class="icon-box" src="/ASSETS/IMAGES/LogoDireccion.png" alt="funko">
            <strong>Dirección</strong>
          </div>

          <div class="dir">
            <div class="table">
              <p>Plaza Collao nº10<br>
                Número 10 Piso 8<br>
                41019<br>
                Sevilla, Sevilla<br>
                España</p>
              <button class="sel">SELECCIONAR</button>
            </div>

            <button class="add-dir">AGREGAR DIRECCIÓN</button>
          </div>
        </div>

        <div class="box mediana">
          <div class="titles">
            <img class="icon-box" src="/ASSETS/IMAGES/LogoTarjeta.png" alt="funko">
            <strong>Forma de pago</strong>
          </div>

          <div class="pay">
            <div class="visa">
              <label class="radio"><input type="radio" name="pago" checked> Pagar con tarjeta</label>
              <img class="icon-pay" src="/ASSETS/IMAGES/LogoVisa.png" alt="visa">
            </div>
            <div class="tarjet">
              <div class="fila-inputs">
                <input placeholder="Titular tarjeta">
                <input placeholder="Nº de la tarjeta">
              </div>
              <div class="fila-inputs">
                <input placeholder="MM/AA">
                <input placeholder="CVC">
              </div>
            </div>
            <div class="visa">
              <label class="radio"><input type="radio" name="pago"> Pagar con PayPal</label>
              <img class="icon-pay" src="/ASSETS/IMAGES/LogoPaypal.png" alt="visa">

            </div>
            <div class="visa">
              <label class="radio"><input type="radio" name="pago"> Pagar con Bizum</label>
              <img class="icon-pay" src="/ASSETS/IMAGES/LogoBizum.png" alt="visa">

            </div>

            <label class="cup"> Código de descuento<input class="cupon" placeholder="Introduce tu código aquí"></label>
          </div>
        </div>
      </div>

      <div class="box pequeña resumen">
        <div class="titles">
          <img class="icon-box" src="/ASSETS/IMAGES/LogoResumen.png" alt="funko">
          <strong>Resumen</strong>
        </div>

        <div class="line"><span>Subtotal</span><span>{{ subtotal | currency:'EUR':'symbol':'1.2-2' }}</span></div>
        <div class="line"><span>Envio</span><span>{{ envio | currency:'EUR':'symbol':'1.2-2' }}</span></div>
        <div class="line"><span>Descuento</span><span>- {{ descuento | currency:'EUR':'symbol':'1.2-2' }}</span></div>
        <div class="line total"><span>Total</span><span>{{ total | currency:'EUR':'symbol':'1.2-2' }}</span></div>
        <button class="btn-pay" (click)="confirmarPedido()">PAGAR Y REALIZAR PEDIDO</button>
      </div>

    </div>
  </div>
</div>
<app-footer></app-footer>
