<app-header></app-header>
<div class="main">

  @if (producto) {
  <div class="product-card">
    <div class="left">
      <img src="/ASSETS/IMAGES/LogoCorazon.png" alt="foto" class="heart">
      <img [src]="obtenerImagenUrl(producto)" alt="Foto {{producto.nombre}}" class="imagen-funko">
      <button (click)="agregarAlCarrito(producto)" class="add-card">AÑADIR AL CARRITO</button>
    </div>
    <div class="right">
      <h1 style="text-transform: uppercase">{{producto.nombre}}</h1>
      <p class="number">Nº {{ producto.codigoProducto }}</p>
      <div class="stars">
        <img src="/ASSETS/IMAGES/Estrella.png" alt="foto" class="star">
        <img src="/ASSETS/IMAGES/Estrella.png" alt="foto" class="star">
        <img src="/ASSETS/IMAGES/Estrella.png" alt="foto" class="star">
        <img src="/ASSETS/IMAGES/Estrella.png" alt="foto" class="star">
        <img src="/ASSETS/IMAGES/Estrella.png" alt="foto" class="star">
        <img src="/ASSETS/IMAGES/LogoChat.png" alt="comentarios" class="chat" (click)="abrirFormulario()"></div>
      <p class="price">{{producto.precio}}€</p>
      <p class="stock">EN STOCK: {{producto.stock}} unidades</p>
      <p class="description">{{producto.descripcion}}</p>
      @if (producto.exclusivo) {
      <button class="exclusive-btn">EXCLUSIVO!</button>
      }
    </div>
  </div>
  }
</div>

@if (mostrarFormulario) {
  <div class="modal-backdrop" (click)="cerrarFormulario()"></div>

  <div class="modal-content">
    <button class="close-btn" (click)="cerrarFormulario()">X</button>
    <app-form-comentario
      [idProducto]="producto?.id ?? 0"
      [idCliente]="33"
      (comentarioEnviado)="handleComentarioEnviado($event)">
    </app-form-comentario>
  </div>
}

<div class="reviews-section">
  <p class="title-r">Valoraciones y reseñas</p>

  <div class="reviews-container">
    <p *ngIf="resenyas.length === 0" style="text-align: center; width: 100%;">No hay reseñas para este producto aún.</p>

    <div *ngFor="let review of resenyas" class="reviews">

      <div class="review-header">
        <p class="name">Ramón Ye</p>
        <div class="stars-r">
          <img *ngFor="let i of [].constructor(review.valoracion)" src="/ASSETS/IMAGES/Estrella.png" alt="estrella" class="star-r">
        </div>
      </div>

      <p class="comment">{{ review.texto }}</p>
    </div>
  </div>

  <button class="show-more">Ver más reseñas</button>
</div>

<app-footer></app-footer>
