<app-header></app-header>
<div class="main">
<!--  Recorremos la lista de Funkos y mostramos su ficha completa.-->
<!--  "track funko.id" hace que Angular identifique cada elemento por su id-->
<!--  para mejorar el rendimiento y evitar renders innecesarios.-->


    <!--
  @for (funko of funkos; track funko.id) {
    <div class="product-card">
      <div class="left">
        <img [srca]="funko.iconoFavorito" alt="favorito" class="heart">
        <img [src]="funko.imagen" [alt]="funko.nombre" class="luffy">
        <button class="add-card" (click)="agregarAlCarrito(funko)">AÑADIR AL CARRITO</button>
      </div>

      <div class="right">
        <h1>{{ funko.nombre }}</h1>
        <p class="number">Nº {{ funko.numero }}</p>

        <div class="stars">
          @for (i of [].constructor(funko.valoracion); track i) {
            <img src="/ASSETS/IMAGES/Estrella.png" alt="estrella" class="star">
          }
          <img src="/ASSETS/IMAGES/LogoChat.png" alt="comentarios" class="chat">
        </div>

        <p class="price">€{{ funko.precio }}</p>
        <p class="stock">EN STOCK: {{ funko.stock }} unidades</p>
        <p class="description">{{ funko.descripcion }}</p>

        @if (funko.exclusivo) {
          <button class="exclusive-btn">EXCLUSIVO!</button>
        }
      </div>
    </div>
  }
  -->

  @if (producto) {
  <div class="up">
    <p>Inicio / Catálogo / {{ producto.nombre }}</p>
  </div>

  <div class="product-card">
    <div class="left">
      <img src="/ASSETS/IMAGES/LogoCorazon.png" alt="foto" class="heart">
      <img ngSrc="{{ producto.imagenes }}" alt="foto" class="luffy">
      <button class="add-card">AÑADIR AL CARRITO</button>
    </div>
    <div class="right">
      <h1 style="text-transform: uppercase">{{producto.nombre}}</h1>
      <p class="number">Nº {{ producto.codigoProducto }}</p>
      <div class="stars">
        <img src="/ASSETS/IMAGES/Estrella.png" alt="foto" class="star">
        <img src="/ASSETS/IMAGES/Estrella.png" alt="foto" class="star">
        <img src="/ASSETS/IMAGES/Estrella.png" alt="foto" class="star">
        <img src="/ASSETS/IMAGES/Estrella.png" alt="foto" class="star">
        <img src="/ASSETS/IMAGES/Estrella.png" alt="foto" class="star">
        <img src="/ASSETS/IMAGES/LogoChat.png" alt="foto" class="chat">
      </div>
      <p class="price">{{producto.precio}}€</p>
      <p class="stock">EN STOCK: {{producto.stock}} unidades</p>
      <p class="description">{{producto.descripcion}}</p>
      @if (producto.exclusivo) {
      <button class="exclusive-btn">EXCLUSIVO!</button>
      }
    </div>
  </div>
  }
</div>

<div class="reviews-section">
  <p class="title-r">Valoraciones y reseñas</p>
  <div class="reviews-container">
    <!--
      Recorremos todas las reseñas del funko.
      Cada review contiene autor, puntuación y comentario.
    -->

    <div class="reviews">
      @if (resenyas.length === 0) {
        <p style="text-align: center; width: 100%;">No hay reseñas para este producto aún.</p>
      }

      @for (review of resenyas; track review.id) {
        <div class="reviews">
          <p class="name">{{ review.cliente.nombre }} {{review.cliente.apellidos }}</p>
          <div class="stars-r">
            @for (i of [].constructor(review.valoracion); track i) {
              <img src="/ASSETS/IMAGES/Estrella.png" alt="estrella" class="star-r">
            }
          </div>
          <p class="comment">{{ review.texto }}</p>
        </div>
      }
    </div>
  </div>

  <button class="show-more">Ver más reseñas</button>
</div>
<app-footer></app-footer>
