@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

.up p {
  margin: 2rem;
  font-weight: 600;
  font-size: 1rem;
  font-family: League Spartan, sans-serif;
}

.text p {
  text-align: center;
  font-family: "Faster One", sans-serif;
  font-size: 5vw;
  margin: 1rem 0;
  line-height: 1.2;
}

.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #D1D800;
  border-radius: 20px;
  box-shadow: 3px 3px 0px black;
  font-family: "League Spartan", sans-serif;
}

.card {
  background-color: rgb(255, 255, 204);
  border-radius: 15px;
  padding: 1rem;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  position: relative;
  overflow: hidden;
  box-shadow: 3px 3px 0px black;
}

.card img {
  width: 50%;
  height: 210px;
  border-radius: 10px;
  object-fit: cover;
  border: 1px solid;
  background-color: #ffffff;
  padding: 5px 25px;
  transition: opacity 0.5s ease;
}

.card img.hover{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.5s ease;
  border: none;
}

.card:hover img.hover {
  opacity: 1;
}

.card:hover img.og {
  opacity: 0;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.card h3 {
  text-align: left;
  font-size: 0.9rem;
  color: #0080f8;
  margin: 10px 0 5px;
}

.card h2 {
  text-align: left;
  font-size: 1.3rem;
  margin: 0;
}

.card .precio {
  text-align: left;
  font-weight: bold;
  color: #333;
  margin: 8px 0;
}

.card button {
  background-color: #E0AC00;
  color: white;
  border: none;
  width: 100%;
  padding: 10px 0px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  font-family: "League Spartan", sans-serif;
}

.btn-mas {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #E0AC00;
  color: white;
  box-shadow: 3px 3px 0px black;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  padding: 12px 20px;
  width: 220px;
  border: none;
  border-radius: 12px;
  letter-spacing: 1px;
  cursor: pointer;
}







