#background {
  background: radial-gradient(white, #A0F3E6 80%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "League Spartan", sans-serif;
}

.titulo h1{
  text-align: center;
  color: #ffffff;
  margin: 15% 0 ;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

}

#formularioPrincipal {
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  margin: 0%;
  padding: 3%;
  width: 80%;
  border: solid 1px black;
  border-radius: 20px;
  box-shadow: 5px 5px black;

  background-color: #f9f9f9;
}


#primeraParteForm {
  display: grid;
  grid-template-columns:0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
  width: 100%;
  font-size: 25px;
}

#segundaParteForm {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  gap: 5%;
  width: 100%;
  font-weight: bold;

}

#botones {
  display: grid;
  grid-template-columns:1fr 1fr;
  width: 30%;
  margin: 5% 0 ;
  gap: 25%;

  justify-content: center;
  align-items: center;
  justify-items: center;
  box-sizing: border-box;

}

#botones button {
  border: none;
  font-weight: bold;
  box-shadow: 3px 3px black;
  cursor: pointer;
  padding: 3% 20%;

}

.botonProcesar {
  background-color: #2EC4B6;
  color: #f9f9f9;
  transform: scale(1.5);
  border-radius: 20px;
}

.botonCancelar {
  background-color: #FF0000;
  color: #f9f9f9;
  transform: scale(1.5);
  border-radius: 20px;
}

.producto {
  display: grid;
  grid-template-rows: 1fr 0.1fr;
  width: 100%;

  justify-content: center;
  align-items: center;
  justify-items: center;
}

.producto img {
  width: 50%;
  padding: 10%;
  padding-left: 25%;
  padding-right: 25%;

  border: solid 1px black;
  border-radius: 20px;
  box-shadow: 4px 4px black;
}

.statsForm {
  display: grid;
  grid-template-columns:1fr 1fr;

  width: 100%;
  gap: 60%;
}

.titulo {
  font-size: 40px;
  color: black;
}
