@if (pedido(); as p) {
  <div id="background">
    <div class="titulo">
      <h1>
        PEDIDO {{ p.id }}
      </h1>
    </div>
    <div id="formularioPrincipal">
      <div id="primeraParteForm">

        <div class="tamanyo">
          <h3>Total</h3>
          <p>
            {{ p.precioTotal | currency:'USD':'symbol':'1.2-2' }}
          </p>
        </div>

        <div>
          <h3>Fecha pedido</h3>
          <p>
            {{ p.fecha | date:'dd/MM/yyyy' }}
          </p>
        </div>

        <div>
          <h3>Fecha entrega</h3>
          <p>
            {{ p.fechaEntrega | date:'dd/MM/yyyy' }}
          </p>
        </div>

        <div>
          <h3>Estado</h3>
          <p [style.color]="obtenerEstadoVisual(p.estado).color">
            {{ obtenerEstadoVisual(p.estado).nombre }}
          </p>
        </div>

        <div>
          <h3>Dirección</h3>

        </div>
      </div>

      <div>
        <div>
          <h3 style="font-size: 25px">
            Productos
          </h3>
        </div>

        <div id="segundaParteForm">
          @for (item of p.productosPedidos || []; track item.id) {
            <div class="producto">
              <img [src]="obtenerImagenUrl(item)" [alt]="item.producto?.nombre || 'Producto'">
              <div class="statsForm">
                <p class="nombre-producto">
                  x{{ item.cantidad }} **{{ item.producto?.nombre }}**
                </p>
                <p class="precio-producto">
                  {{ (item.cantidad * item.producto?.precio!) | currency:'USD':'symbol':'1.2-2' }}
                </p>
              </div>
            </div>
          }
        </div>
      </div>
    </div>

    <div id="botones">
      <button class="botonProcesar">PROCESAR</button>
      <button class="botonCancelar">CANCELAR</button>
    </div>
  </div>
} @else {
  <p>Cargando detalles del pedido...</p>
}
