<div id="background">
  <div class="titulo">
    <h1>
      Pedido 26
    </h1>
  </div>
  <div id="formularioPrincipal">
    <div id="primeraParteForm">
      <div class="tamanyo">
        <h3>Total</h3>
        <p>
          85$
        </p>
      </div>
      <div>
        <h3>
          Fecha pedido
        </h3>
        <p>
          04/11/2025
        </p>
      </div>
      <div>
        <h3>
          Fecha entrega
        </h3>
        <p>
          25/11/2025
        </p>
      </div>
      <div>
        <h3>
          Estado
        </h3>
        <p style="color: #45EA32">
          Recibido
        </p>
      </div>
      <div>
        <h3>
          Dirección
        </h3>
        <p>
          Calle plata n 30
        </p>
      </div>
    </div>
    <div>
      <div>
        <h3 style="font-size: 25px">
          Productos
        </h3>
      </div>
      <!-- @for () {} -->
      <div id="segundaParteForm">
        <div class="producto">
          <img src="/ASSETS/IMAGES/DeadpoolRey.png" alt="">
          <div class="statsForm">
            <p>
              x1 Deadpool
            </p>
            <p style="color: #2EC4B6">
              00$
            </p>
          </div>
        </div>
        <div class="producto">
          <img src="/ASSETS/IMAGES/DeadpoolRey.png" alt="">
          <div class="statsForm">
            <p>
              x1 Deadpool
            </p>
            <p style="color: #2EC4B6">
              00$
            </p>
          </div>
        </div>
        <div class="producto">
          <img src="/ASSETS/IMAGES/DeadpoolRey.png" alt="">
          <div class="statsForm">
            <p>
              x1 Deadpool
            </p>
            <p style="color: #2EC4B6">
              00$
            </p>
          </div>
        </div>
        <div class="producto">
          <img src="/ASSETS/IMAGES/DeadpoolRey.png" alt="">
          <div class="statsForm">
            <p>
              x1 Deadpool
            </p>
            <p style="color: #2EC4B6">
              00$
            </p>
          </div>
        </div>
      </div>
      <!--
         @if () {

            }
      -->
    </div>
  </div>
  <div id="botones">
    <button class="botonProcesar">PROCESAR</button>
    <button class="botonCancelar">CANCELAR</button>
  </div>
</div>

