.container {
  gap: 2rem;
  padding: 40px 20px;
  min-height: 100vh;
  font-family: "League Spartan", sans-serif;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    white 0%,
    #A0F3E6 20%,
    #A0F3E6 50%,
    #A0F3E6 80%,
    #f9f9f9
  );
}

.card {
  background-color: white;
  border: 2px solid black;
  border-radius: 30px;
  padding: 30px;
  box-shadow: 5px 5px 0px black;
  text-align: center;
  font-family: 'League Spartan', sans-serif;

}

.main-card {
  max-width: 900px;
  margin: 0 auto;
}

.main-card h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}

.main-card p {
  font-weight: 600;
  line-height: 1.6;
  max-width: 700px;
  margin: 0 auto;
  font-size: 1rem;
}

.icon {
  height: 4rem;
  margin-bottom: 10px;
}

.features {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.feature-card {
  flex: 1;
  padding: 20px;
  max-width: 450px;
}

.feature-card h3 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.feature-card p {
  font-weight: 400;
  line-height: 1.4;
  font-size: 0.95rem;
}

@media (max-width: 1024px) {
  .features {
    flex-direction: column;
    align-items: center;
  }
  .feature-card {
    width: 90%;
    max-width: 500px;
  }
}

@media (max-width: 768px) {
  .main-card p {
    font-size: 0.9rem;
  }
}
