#background {
  background: linear-gradient(to bottom, #c5f8ed, #8ce3d2);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: League Spartan, sans-serif;
  font-size: large;
}

#global {
  width: 95%;
  height: 90vh;
  display: grid;
  grid-template-columns: 25% 70%;
  gap: 3%;
  align-items: center;
}

#primeraParte {
  background: #f9f9f9;
  border-radius: 25px;
  padding: 4%;
  box-shadow: 5px 5px 0px black;
  border: 2px solid black;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  height: 450px;
}

.menu-button {
  width: 80%;
  padding: 15px 0;
  border-radius: 20px;
  border: 2px solid black;
  background: white;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 3px 3px 0 black;
}

.menu-button.active {
  background: #4C97FF;
  color: white;
}

#primeraParte img {
  width: 60%;
  margin-top: auto;
}

#segundaParte h1 {
  text-align: center;
  font-size: 43px;
  font-weight: 900;
  color: white;
  margin-bottom: 20px;
}

#todoJunto {
  background: #ffffff;
  border-radius: 25px;
  padding: 4%;
  border: 2px solid black;
  box-shadow: 5px 5px 0 black;
}

#primeraParteForm {
  display: grid;
  grid-template-columns: 20% 1fr;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

#botones {
  display: flex;
  gap: 10px;
}

.nav-arrow {
  width: 45px;
  height: 45px;
  border-radius: 12px;
  border: 2px solid black;
  background: white;
  box-shadow: 2px 2px 0 black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
}

.nav-arrow:active {
  background: #4C97FF;
  transform: scale(0.95);
}

.flechas {
  width: 1.8rem;
}

#buscadorPedidos input {
  width: 100%;
  height: 45px;
  border-radius: 20px;
  border: 2px solid black;
  padding-left: 15px;
  font-size: 15px;
}

#segundaParteForm {
  border: 2px solid black;
  padding: 4%;
  border-radius: 20px;
  background: white;
  box-shadow: 4px 4px 0 black;
}

#titulos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  margin-bottom: 12px;
  gap: 20px;
}

#titulos p {
  background: white;
  border-radius: 15px;
  border: 2px solid black;
  padding: 6px 0;
  font-weight: bold;
  box-shadow: 3px 3px 0 black;
}

#datosGlobal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.datos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px 0;
  text-align: center;
}
