<main>
  <h1>CLIENTE - {{ cliente()?.nombre || (modoDetalle() ? 'Cargando...' : 'NUEVO') }}</h1>

  @if (cliente()) {
    <div id="seccionPrincipal">
      <section id="seccionUsuario">
        <div id="datosDiv">
          <section id="datosDiv2">
            <p>DATOS</p>
          </section>
        </div>

        <div id="seccionFotoPerfil">
          <section id="tituloFotoPerfil">
            <p>Foto de perfil</p>
          </section>
          <section id="imgFotoPerfil">
            <img [src]="cliente()!.fotoURL || '/ASSETS/IMAGES/fotoPerfilPrueba.png'" alt="fotoPerfil">
          </section>
        </div>

        <div id="datosUsuario">
          <section id="nombreApellido">
            <div>
              <p class="categorias">Nombre:</p>
              <p>{{ cliente()!.nombre }}</p>
            </div>
            <div>
              <p class="categorias">Apellidos:</p>
              <p>{{ cliente()!.apellidos }}</p>
            </div>
          </section>
          <section id="correoContra">
            <div>
              <p class="categorias">Email:</p>
              <p>{{ cliente()!.email }}</p>
            </div>

            <div>
              <p class="categorias">Nivel:</p>
              <p>{{ cliente()!.nivel?.nivel || 'N/A' }}</p>
            </div>

          </section>
        </div>
        
      </section>

      <section id="seccionPedidos">
        <p id="tituloPedidos">Pedidos Realizados ({{ pedidos().length }})</p>

        @for (pedido of pedidos(); track pedido.id) {
          <div [routerLink]="['/admin/pedidos/', pedido.id]" class="pedido-item">

            <section>
              <p>Pedido #{{ pedido.id }}</p>

              <p>€{{ pedido.precioTotal | number:'1.2-2' }}</p>
            </section>
          </div>
        }

        @if (pedidos().length === 0) {
          <p style="text-align: center; color: gray;">No hay pedidos para este cliente.</p>
        }
      </section>
    </div>
  } @else if (modoDetalle()) {
    <p>Cargando datos del cliente...</p>
  } @else {
    <p>Formulario para añadir un nuevo cliente.</p>
  }
</main>
