@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  border-radius: 30px;
  padding: 8px 20px;
  margin: 15px;
  box-shadow: 3px 3px 0px black;
  flex-wrap: wrap;
  gap: 10px;
  font-family: 'League Spartan', sans-serif;
}

.center div:hover {
  color: #454545;
}

.left, .center, .right {
  display: flex;
  align-items: center;
}

.left img {
  height: 25px;
  margin-right: 8px;
}

.center div {
  margin: 0 20px;
  font-weight: 700;
  cursor: pointer;
}

.right {
  gap: 10px;
}

.search {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  padding: 3px 8px;
}

.search input {
  border: none;
  outline: none;
  font-family: 'League Spartan', sans-serif;
}

.client{
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  padding: 3px 8px;
  font-weight: 700;
  cursor: pointer;
}

.client:hover {
  box-shadow: 1px 4px 10px rgba(0,0,0,0.2);
  transform: translateY(-1px);
}

.icon {
  height: 18px;
  margin-right: 5px;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.2);
  filter: brightness(1.3);
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .center {
    justify-content: flex-start;
    gap: 10px;
    margin-top: 5px;
  }

  .search input {
    width: 80px;
  }
}
